#intro-page span:first-child {

    color: var(--color-text);
}

#intro-page span:nth-child(2) {

    color: var(--color-primary);
}

#intro-page span:nth-child(3) {

    color: var(--color-secondary);
}


#intro-page span:nth-child(4) {

    color: var(--color-text);
}


#intro-page span:nth-child(5) {

    color: var(--color-secondary);
}


#intro-page span:last-child {

    color: var(--color-primary);
}

#intro-subtitle {

    font-size: calc(var(--text-size)/1.25);
    margin-top: -1.5rem;
    margin-left: 1rem;
    color: var(--color-text);
    width: 80%;


}

/* #intro-graphic-1 {
    position: absolute;
    top: 50%;
    left: -10%;
    width: 100%;
    height: auto;
    z-index: -1;
} */

#intro-cta {
    margin-top: 4rem;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

}