#intro-page span:first-child {

    color: black;
}

#intro-page span:nth-child(2) {

    color: var(--color-primary);
}

#intro-page span:nth-child(3) {

    color: var(--color-secondary);
}


#intro-page span:nth-child(4) {

    color: black;
}


#intro-page span:nth-child(5) {

    color: var(--color-text);
}


#intro-page span:nth-child(6) {

    color: var(--color-primary);
}

#intro-subtitle {

    font-size: calc(var(--text-size)/1.25);
    margin-top: -1.5rem;
    margin-left: 1rem;
    color: var(--color-text);
    width: 80%;


}

/* #intro-graphic-1 {
    position: absolute;
    top: 50%;
    left: -10%;
    width: 100%;
    height: auto;
    z-index: -1;
} */

#intro-cta {
    position: relative;
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 5rem;
    width: 100%;


}

#intro-cta::before {
    content: '';
    position: absolute;
    top: -10%;
    bottom: -10%;
    left: 0;
    width: 100%;

    background: url("/Users/elhussin/Desktop/indify/public/images/cta-background.webp") no-repeat center center;
    background-size: cover;
    z-index: -1;
}


.striped-graphics-container {
    position: absolute;
    top: -10%;
    left: 0%;
    width: 100%;
    height: 120%;
    z-index: -1;
    background: url("/Users/elhussin/Desktop/indify/public/images/striped-paper.png") no-repeat center center;
    background-size: cover;

}

#intro-page h1 {
    position: relative;
    width: 100%;
}