main {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}



h2,
p,
button {
  font-family: textFont;
  text-shadow: 0.15rem 0.15rem 0px black,
    -0.15rem 0.15rem 0px black,
    -0.15rem -0.15rem 0px black,
    0.15rem -0.15rem 0px black;


  color: var(--color-text);
}


p {

  font-size: var(--text-size);
}

button {
  position: relative;
  background-color: transparent;
  border: none;
  font-family: textFont;
  font-size: var(--text-size);
  color: var(--color-text);
  cursor: pointer;

  /* important if you want the image not cropped */
  z-index: 1;
  width: 15rem;
  /* set your desired button size */
  height: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-self: center;
}

button::before {
  content: '';
  position: absolute;
  top: -10%;
  left: -5%;
  right: 0;
  width: 100%;
  height: 100%;

  background: url(../public/images/indify-button.png) no-repeat center center;
  background-size: contain;
  /* use contain if you don't want cropping, or cover if you do */

  z-index: -1;
}

/* Shadow effect for elements / components */
.shadow-effect {
  box-shadow:
    0 6px 12px rgba(0, 0, 0, 0.4),
    0 12px 24px rgba(0, 0, 0, 0.35),
    0 20px 40px rgba(0, 0, 0, 0.3);
}

/* Header for titles containing user name */
.user-info-header {
  position: relative;
  width: 100%;
  margin: 0;
  font-family: textFont;
  color: var(--color-text);
  font-size: var(--header-size);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.45rem;
  text-shadow: 0.15rem 0.15rem 0px black,
    -0.15rem 0.15rem 0px black,
    -0.15rem -0.15rem 0px black,
    0.15rem -0.15rem 0px black;

}

.user-info-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("public/images/intro-graphic-1.png") no-repeat center center;
  background-size: contain;
  z-index: -1;
}

.user-info-header span:first-child {
  position: absolute;
  font-size: var(--text-size);
  top: -30%;
  left: 10%;

}

.user-info-header span:last-child {
  position: absolute;
  font-size: var(--text-size);
  bottom: -30%;
  right: 10%;
}