:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-text: #fff1b6;
  --color-primary: #328a48;
  --color-secondary: #ff46c9;
  --text-size: 1.5rem;
  --header-size: 2.5rem;

}



@font-face {
  font-family: headerFont;
  src: url("../public/fonts/Magazine-Cutouts-Font.ttf");
}

@font-face {
  font-family: textFont;
  src: url("../public/fonts/RubikDirt-Regular.ttf");
}

body {

  background-image: url(../public/images/indify-background.png);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;

}